.header {
	background-color: $dark;
	height: 52px;
	display: flex;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 140px;
}

.logo__icon {
	margin-right: 12px;
}

.logo__heading {
	margin: 0;
}

.menu {
	display: flex;
	max-width: 345px;
}

.menu__item {
	width: 115px;
	height: 52px;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__item--active {
	background-color: $accent;

	border-bottom: 2px solid $dark-accent;
}

.menu__item-link {
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 52px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.options {
	cursor: pointer;
}

.options__item {
	height: 52px;
	width: 54px;
	position: relative;
	z-index: 1;
}

.options__item-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% + 5px);
	height: 100%;
	top: 0;
	position: absolute;
	right: -15px;
	border-bottom: 2px solid $dark-bg;
}

.options__item--active {
	.options__item-link {
		background-color: $accent;
		border-bottom: 2px solid $dark-accent;
	}
}

.options__icon {
	position: relative;
	z-index: 1;
}