.page-heading {
	margin-bottom: 25px;
}

.content {
	padding: 18px 15px 0;
	position: relative;
}

[data-page] {
	position: absolute;
	width: 670px;
	top: 18px;
	transform: translateX(140%);
	height: 0;
	overflow: hidden;
	transition: transform 400ms ease;
}

[data-page-active] {
	height: auto;
	transform: translateX(0);
}