.page-heading {
	margin-bottom: 25px;
}

.content {
	padding: 18px 15px 0;
	position: relative;
}

.page-block {
	position: absolute;
	transform: translateX(-100%);
	transition: transform 400ms ease;
}

.page-block--active {
	top: 0;
	transform: translateX(0);
}