.page-heading {
	margin-bottom: 25px;
}

.content {
	padding: 18px 15px 0;
	position: relative;
}

[data-page] {
	position: absolute;
	top: 18px;
	transform: translateX(-140%);
	transition: transform 400ms ease;
}

[data-page-active] {
	transform: translateX(0);
}